<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blippar photo sticker</title>
	 <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	 <link href="./bower_components/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
	 <link href="./styles/style.css" rel="stylesheet">
</head>
<body ng-app="blipparPhotoStickerApp">
	<h2 class="text-center">Blippar photo sticker</h2>
	<div class="base-container" ng-controller="stickerController">
		<div class="container">  
		    <div class="row table-row">		      
		        <div class="col-sm-6 custom">
			        <div class="header">
			        	<span> Photo</span>
			        </div>
			        <button type="button" ng-show="imageSrc" class="btn btn-warning" ng-click="reset()">Start over</button>
			        <div class="fileUpload btn btn-warning" ng-show="!imageSrc">
					    <span>Load photo</span>
					    <input type="file" class="upload" upload-image="onFileSelect($files)"  />					
					</div>
					<div>
						<img ng-show="imageSrc" ng-src="{{imageSrc}}" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop:'dropCallback'}"/>
					</div>
		        </div>		      
		        <div class="col-sm-6 image-col custom">
		        	<div class="header">
			      	  <span> Stickers</span>
			        </div>
			        <div class="container">
			        	 <button type="button" class="btn btn btn-warning" data-toggle="modal" data-target="#uploadSticker">Upload new sticker</button>
			        	 <div id="holder">
			        	 <div ng-repeat="sticker in stickers track by $index">
			        	 	<img id="{{sticker.id}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate:true}"  ng-src="{{sticker.image}}" class="thumbnail" width="140px" height="140px" title="{{sticker.title}}"><span>{{sticker.title}}</span></img>
			        	 	
			        	 </div>
			        	 </div>
			        </div>
		        </div>		      
		    </div>
		</div>
     
     	 <!-- Modal -->
	  <div class="modal fade" id="uploadSticker" role="dialog">
	    <div class="modal-dialog modal-lg">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Upload new sticker</h4>
	        </div>
	        <div class="modal-body">
	          <form id="stickerForm">
	          	<div class="row">
	          		<div class="control-group">
	          			<i class="required-ind">*</i>
		                <div class="fileUpload btn btn-warning">
						    <span>Add new sticker</span>
						    <input type="file" class="upload" upload-sticker="onFileSelect($files)"  />					
						</div>
					</div>
	                <div class="control-group">
	                	<i class="required-ind">*</i>
                        <label class="control-label right-hspace">
                            Sticker title:
                        </label>
                        <input type="text" required class="input-large right-hspace" maxlength="50" ng-model="newSticker.title"/>
                    </div>
	            </div>
	            <br/>
	            <div class="row">
		            <div class="sticker-box">
		                    <ul class="loading-list" ng-loading="imageLoading"></ul>
		                    <img ng-if="stickerImageSrc" ng-src="{{stickerImageSrc}}" class="thumbnail" width="50%" height="50%" /><br/>
		            </div>
	            </div>
	          </form>	          
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-warning" ng-click="uploadSticker()" onclick="$('#uploadSticker').modal('hide')" ng-disabled="!newSticker.title || !stickerImageSrc" data-dismiss="modal">Submit</button>
	        </div>
	      </div>
	    </div>
	  </div>
	   
    </div>
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/jquery-ui/jquery-ui.min.js"></script> 
	<script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="./bower_components/angular/angular.js"></script>
	<script src="./bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
	<script src="./app.js"></script>
	<script src="./directives/uploadPhotoDragPicture.js"></script>
	<script src="./controllers/stickerController.js"></script>
	<script src="./upload.js"></script>
</body>
</html>