<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Photo sticker</title>
	 <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	 <link href="./bower_components/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
	 <link href="./styles/style.css" rel="stylesheet">
</head>
<body ng-app="photoStickerApp">
	<div class="jumbotron text-center">
		<h1>Photo sticker</h1>
	</div>
	<div class="base-container" ng-controller="stickerController as vm">
		<div class="container-fluid">
		<div class="row">  
		     <div class="col-md-8">
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
					<div class="navbar-header">
					  <a class="navbar-brand" href="#">Photo</a>
					</div>
					<div class="collapse navbar-collapse pull-right" >
					  <div class="fileUpload btn btn-warning" ng-show="!vm.imageSrc">
					    <span>Load photo</span>
					    <input type="file" class="upload" upload-image="onFileSelect($files)" accept="image/*" />					
					  </div>
					</div>
					<div class="collapse navbar-collapse pull-right" >
						<button type="button" ng-show="vm.imageSrc" class="btn btn-warning mybutton" ng-click="vm.reset()">Start over</button>
					</div>
				  </div>
				</nav>
				<div class="col-md-12">
					<img ng-show="vm.imageSrc" ng-src="{{vm.imageSrc}}" style="width:100%;" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop:'vm.dropCallback'}"/>
				</div>
		    </div>		      
		    <div class="col-md-2">
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
					<div class="navbar-header">
					  <a class="navbar-brand" href="#">Stickers</a>
					</div>
					<div class="collapse navbar-collapse pull-right" >
					  <button type="button" class="btn btn btn-warning mybutton" data-toggle="modal" data-target="#uploadSticker">Upload new sticker</button>
					</div>
				  </div>
				</nav>
				<div class="col-md-12">
					<div id="holder">
						 <div ng-repeat="sticker in vm.stickers" class="sticker-container">
						 	<div title="{{sticker.title}}" id="{{$index}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate:true}">
								<button type="button" class="close" ng-click="vm.removeSticker($index)">&times;</button>
								<img id="{{sticker.id}}"  ng-src="{{sticker.image}}" class="thumbnail" width="140px" height="140px"><span class="img-title" title="{{sticker.title}}">{{sticker.title}}</span></img>
							</div>
						 </div>
					 </div>
				</div>
		    </div>	
		</div>
	</div>
     
     	 <!-- Modal -->
	  <div class="modal fade" id="uploadSticker" role="dialog">
	    <div class="modal-dialog modal-lg">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Upload new sticker</h4>
	        </div>
	        <div class="modal-body">
	          <form id="stickerForm">
	          	<div class="row">
	          		<div class="control-group">
	          			<i class="required-ind">*</i>
		                <div class="fileUpload btn btn-warning">
						    <span>Add new sticker</span>
						    <input type="file" class="upload" upload-sticker="onFileSelect($files)" accept="image/*"/>					
						</div>
					</div>
	                <div class="control-group">
	                	<i class="required-ind">*</i>
                        <label class="control-label right-hspace">
                            Sticker title:
                        </label>
                        <input type="text" required class="input-large right-hspace" maxlength="50" ng-model="vm.newSticker.title"/>
                    </div>
	            </div>
	            <br/>
	            <div class="row">
		            <div class="sticker-box">
		                    <ul class="loading-list" ng-loading="imageLoading"></ul>
		                    <img ng-if="vm.stickerImageSrc" ng-src="{{vm.stickerImageSrc}}" class="thumbnail" width="50%" height="50%" /><br/>
		            </div>
	            </div>
	          </form>	          
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-warning" ng-click="vm.uploadSticker()" onclick="$('#uploadSticker').modal('hide')" ng-disabled="!vm.newSticker.title || !vm.stickerImageSrc" data-dismiss="modal">Submit</button>
	        </div>
	      </div>
	    </div>
	  </div>
	   
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script> 
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
	<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
	<script src="./app.js"></script>
	<script src="./directives/uploadPhotoDragPicture.js"></script>
	<script src="./controllers/stickerController.js"></script>
	<script src="./upload.js"></script>
</body>
</html>