.header{
	background-color: rgb(225,125,50);
    min-height: 30px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.sticker-box{
    border: 2px dashed #86867D;
    display: block;  
    min-height: 200px;  
}
.required-ind {
    color: $gamma;
    font-size: 1.5rem;
    line-height: 1;
    font-style: normal;
    font-family: Verdana; // Requested by UX
    vertical-align: middle;
}
img{
  margin: auto;
}
form{
  margin:20px;
}
.close{
    z-index: 1;
    position: relative;
    margin-bottom: -20px;
    margin-right: 10px;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
}
.img-title{
    display: block;
    text-align: center;
    margin-top: -20px;
}
.sticker-container{
    max-width: 150px;
    margin-top: 5px;
}

@media (min-width: 150px)
.col-md-2 {
    width: 200px;
}